@import "tailwindcss";
@font-face {
  font-family: "IranSans";
  src: url("assets/fonts/IranianSans.ttf") format("truetype");
  font-weight: normal; /* 400 */
  font-style: normal;
}

body {
  background: linear-gradient(to bottom, #4b10c9, #5b55ed);
  min-height: 100vh;
  margin: 0;
}

* {
  direction: rtl;
  font-family: "IranSans", sans-serif;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Hide scrollbar for Chrome, Safari and Edge */
::-webkit-scrollbar {
  display: none;
}
.dynamic-toast {
  min-width: 200px !important;
  max-width: fit-content !important;
  white-space: nowrap;
  text-align: center;
  padding: 10px 20px;
  margin: 8px;
  border-radius: 16px;
}
.leaflet-control-zoom,
.leaflet-control-attribution {
  display: none;
}
